{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <a href="{% url 'index' %}" class="btn btn-info ms-2">Tareas</a>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="btn btn-info ms-2">Salir</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-info ms-2">Entrar</a>
                        <a href="{% url 'login' %}" class="btn btn-info ms-2">Registrarse</a>
                    {% endif %}
                    <div class="card">

                        <div class="card-body p-5">
                            <h1 style="text-align: center;"><img src="{% static 'favicon.png' %}" width="50px" alt="">
                                Tareas Pila</h1>
                            <br>
                            <form action="{% url 'index' %}" method="post"
                                  class="d-flex justify-content-center align-items-center mb-4">
                                {% csrf_token %}
                                <div class="form-outline flex-fill">
                                    <input type="text" id="form2" name="title" class="form-control"/>
                                    <label class="form-label" for="form2">Nueva Tarea...</label>
                                </div>
                                {% if request.user.is_authenticated %}
                                    <button type="submit" class="btn btn-info ms-2">Agregar</button>
                                {% else %}
                                    <a href="{% url 'login' %}" class="btn btn-info ms-2">Entrar</a>
                                {% endif %}
                            </form>

                            <!-- Tabs content -->
                            <div class="tab-content" id="ex1-content">
                                <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel"
                                     aria-labelledby="ex1-tab-1">
                                    <ul class="list-group mb-0">
                                    {% if request.user.is_authenticated %}
                                        {% for tarea in todos %}
                                            <a href="{% url 'delete' tarea.id %}">
                                                <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                                                    style="background-color: #f4f6f7;" data-mdb-toggle="tooltip"
                                                    data-mdb-placement="top"
                                                    title="Listo">
                                                    {{ tarea | title }}
                                                </li>
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                                    <ul class="list-group mb-0">
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                                    <ul class="list-group mb-0">
                                    </ul>
                                </div>
                            </div>
                            <!-- Tabs content -->

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}